@font-face {
    font-family: 'robotoblack';
    src: url('font/Roboto-Black-webfont.eot');
    src: url('font/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Roboto-Black-webfont.woff2') format('woff2'),
         url('font/Roboto-Black-webfont.woff') format('woff'),
         url('font/-Black-webfont.ttf') format('truetype'),
         url('font/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('font/Roboto-Medium-webfont.eot');
    src: url('font/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Roboto-Medium-webfont.woff2') format('woff2'),
         url('font/font/Roboto-Medium-webfont.woff') format('woff'),
         url('font/Roboto-Medium-webfont.ttf') format('truetype'),
         url('font/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	
	margin: 0px;
}

h1
{
	font-family: 'robotoblack';
	font-size: 2.5em;
}

h2
{
	font-family: 'robotoblack';
	font-size: 1.5em;
}

p
{
	font-family: 'robotomedium';
	color: rgb(144,147,150);
	font-size: 0.9em;
}

nav li
{
	font-family: 'robotomedium';
	color: rgb(144,147,150);
	font-size: 0.9em;
} 

/*header*/
header
{
	display: flex;
	position: relative;
	background: url('image/image_header.jpg') no-repeat bottom;
	background-size: 100%; 
	width: 100%;
	height: 690px;
	margin-top: -70px;
}
#en_tete
{
	display: flex;
	width: 100%;
	justify-content: space-between;
	position: fixed;
	background: white;
	z-index: 10;
	top: 0px;
}

#logo
{
	padding: 20px 0px 20px 120px;
}

nav
{
   padding: 20px 120px 20px 0px;
}

nav ul 
{
	display: flex;
	list-style: none;
}

nav li
{
	padding-left: 15px;
}

.nav_header1
{
	color: rgb(92,173,211);
	border-top: 3px solid;
	padding-top: 33px
}

.nav_header:hover
{
	color: rgb(92,173,211);
	border-top: 3px solid;
	padding-top: 33px;
}

a
{
	color: rgb(144,147,150);
	text-decoration: none; 
}

/*section: bannère*/
#texte_portfolio
{
	
}

#texte_banniere 
{
	margin: 350px 0px 0px 150px;
}

.white
{
	color: white;
}

#webagency
{
	color: rgb(92,173,211);
}

#infos
{
	display: flex;
	background-color: rgb(92,173,211);
	width: 140px;
	height: 50px;
	justify-content: center;
	align-items: center;
}

#circle
{
	position: absolute;
	width:70px;
	height: 35px;
	border-top-left-radius: 140px; 
	border-top-right-radius: 140px;
	transform: rotate(90deg);
	background-color: rgb(66,66,70);
	bottom: 260px;
	left: -17px;
	
}
#circle1
{
	position: absolute;
	width:70px;
	height: 35px;
	border-top-left-radius: 140px; 
	border-top-right-radius: 140px;
	transform: rotate(-90deg);
	background-color: rgb(66,66,70);
	bottom: 260px;
	right: -17px; 
}

.fleche_left
{
	position: absolute;
	font-size: 30px;
	color: white;
	bottom: 260px;
	left: 7px;
}

.fleche_right
{
	position: absolute;
	font-size: 30px;
	color: white;
	bottom: 260px;
	right: 7px;
}

#timeline
{ 
	display: flex;
	width: 150px;
	border: 2px solid rgb(92,173,211);
	position: absolute;
	margin-top: -4px;
	z-index: 3;
}

.trait_service hr,.trait_projet hr 
{
	width: 8%;
}
/*section: nos services*/
section
{
	display: flex;
}

#nos_services
{
	position: relative;
}

#h_p1
{
	text-align: center;
	justify-content: center; 
}

#pc_liste_section1
{
	display: flex;
	justify-content: space-between;
}

#image_pc
{
	margin-left: 150px;
	margin-top: 50px;
}

.liste_span
{
	font-weight: bold;
	font-family: 'robotoblack';
}

.trait_service
{
	position: relative;
}

#cercle_trait_service
{
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rgb(92,173,211);
	border: 3px solid white;
	left: 49.5%;
	top: -10px;
}

.liste_section1
{
   margin: 120px 140px 0px 220px;
}

.conteneur_cercle
{
	position: relative;
	right: 100px;
}

.cercle1_service
{
	position: absolute;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background-color: white;
	border: 1px solid rgb(222,223,224);
}


.cercle2_service
{
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rgb(92,173,211);
	border: 3px solid white;
	left: 58px;
	top: 25px;
}

.conteneur_cercle .fas
{
	position: absolute;
	color: rgb(92,173,211);
	font-size: 25px;
	left: 20px;
	top: 20px;
}

/*section: nos projets*/
#section2
{
	display: flex;
	flex-direction: column;
	background-color: rgb(245,245,245);
	margin-top: 40px;
	position: relative;
	width: 100%;
}

#h_p2
{
	text-align: center;
	justify-content: center;
	margin-bottom: 30px;
}

.trait_projet
{
	position: relative;
}

#cercle_trait_projet
{
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rgb(92,173,211);
	border: 3px solid white;
    left: 49.5%;
    top: -10px; 
}

.nav_nos_projets
{
	display: flex;
	margin: auto;
	padding: 18px 0px 15px 0px;
    background-color: rgb(229,229,229)
}

.conteneur_nav
{
	position: relative;
}

.fleche_all_works
{
	position: absolute;
	bottom: -34px;
	left: 46%;
	color: rgb(70,140,173);
	font-size: 23px;
} 

.all_works
{
   display: inline;
   background-color: rgb(92,173,211);
   color: white;
   border-bottom: 3px solid rgb(70,140,173); 
   padding: 18px 15px 15px 15px
}

.fleche_nav
{
	display: none;
	position:absolute;
	bottom: -34px;
	left: 46%;
	color: rgb(70,140,173);
	font-size: 23px;
}

.conteneur_nav:hover .fleche_nav
{
	display: block;
}

.liste_projet
{
	display: inline;
	padding: 18px 15px 15px 15px;
}

.liste_projet:hover
{
	color: white;
	background-color: rgb(92,173,211);
	border-bottom: 3px solid rgb(70,140,173); 
}

#projets_portfolio
{
	display:flex;
	flex-wrap: wrap;
	margin-left: 100px;
	margin-top: 30px;
}

.portfolio
{
	justify-content: space-around;
	padding-top: 0px;
	margin-left: 0px;
	position: relative;
}

.portfolio img
{
 width: 270px;
}

.figcap
{
	display: none;
	position: absolute;
	bottom: 0;
	color: white;
	left:0; right: 0;
	padding-left: 20px;
	height: 
}

.figcap p
{
	color: white;
}

.portfolio img:hover ~ .figcap, .figcap:hover 
{
	display: block;
	background-color: rgba(0,0,0,.5);
}



.circ_projet2
{
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid white;
	background-color: rgb(92,173,211);
	bottom: 85px;
	right: 10px;
}

.eyes
{
	position: absolute;
	top: -8px;
	right: 23px;
}

@media all and (min-width: 769px) and (max-width: 1024px)
 {
 	.portfolio img
    {
        width: 170px;
    }
}

 @media all and (min-width: 1540px) and (max-width: 2560px)
 {
 	.portfolio img
    {
        width: 410px;
    }
}

/*Carte et formulaire*/

#carte_formulaire
{
	position: relative;
	width: 100%;
}
#carte_google
{
	position: absolute;
	margin-top: 50px;
	width: 100%;
}

iframe
{
	width: 100%;
}

#fond_blue
{
	width: 100%; 
	height: 559.6px;
	position: absolute;
	background-color: rgba(153,217,234,0.3);
	margin-top: 50px;
	pointer-events: none;
}

#formulaire
{
	position: absolute;
	right: 150px;
	top: 70px;
	background-color: rgb(233,242,252);
	margin-top: 40px;
	opacity: 0.9;
	padding: 0px 20px 0px 20px;
}
textarea
{
	width: 282px;
	color: rgb(144,147,150);
	font-family: 'robotomedium'; 
}


.send_message
{
	background-color: rgb(92,173,211);
	width: 100px;
	padding: 5px 0px 5px 0px;
}

     /*.....espace nos projets..*/


          /*.......ECRAN TABLETTE......*/

@media all and (max-width: 768px)
{
	h1
	{
		font-size: 2em;
	}

	h2
	{
		font-size: 1.5em;
	}

	p
	{
		font-size: 1em;
	}

	.nos_services ~p
	{
		font-size: 1em;
	}

	nav li
	{
		font-size: 1.3em;
	}

	.liste_span
	{
		font-size: 1em;
	}

         /*..........header...........*/
	#en_tete
	{
		display: flex;
		width: 100%;
		justify-content: space-between;
		position: absolute;
	    top: 70px;
    }

	#logo img
    {
	margin-left: -40px;
    }

	header nav ul 
	{
		flex-direction: column;
	}

	header nav
	{
		text-align: left;
	}
	.nav_header1
    {
	color: rgb(92,173,211);
	border-top: 3px solid;
	padding-top: 33px
   }

	.nav_header:hover
	{
		color: rgb(144,147,150);
		border-top: none;
		padding-top: 33px;
	}

	    /*......section: banniére......*/

	header
	{
		background: none;
		height: 440px;
	}

	#texte_banniere 
    {
	margin: 320px 0px 0px 80px;
    }
	.white
	{
		color: rgb(144,147,150);
	}

	 #infos
	{
		width: 200px;
	}

	#infos .white
	{
		color: #fff;
	}

	#circle
	{
		display: none;
	}

	#circle1
	{
		display: none;
	}

	.fleche_left
	{
		display: none;
	}

	.fleche_right
	{
		display: none;
	}

	#timeline
    { 
	display: none;
    }
    

        /*.......nos service........*/

        #nos_services
    {
	margin-top: 150px;
	}

	#pc_liste_section1
	{
		display: flex;
		flex-direction: column;
	}

	#image_pc
	{
		margin-left: 18%;
	}

	.liste_section1
	{
		padding-left: 20px;
	}


	/*.......Nos projets..........*/
	#section2
	{
		justify-content: center;
		width: 100%;
	}

	#projets_portfolio
	{
		justify-content: space-around;
		margin-left: 0px;
	}

	.portfolio
	{
		margin-left: px;
	}

	.portfolio img
	{
	  width: 310px;
	}

	.figcap
	{
		display: block;
		position: absolute;
		bottom: 0;
		color: white;
		left:0; right: 0;
		padding-left: 20px;
		background-color: rgba(0,0,0,.5);
		height: 40%;
		font-size: 1em;
		padding-bottom: 27px;
		
	}

	.portfolio img:hover ~ .figcap, .figcap:hover 
	{
		display: none;
	}

	.circ_projet2
	{
		
		bottom: 90px;
		right: 10px;
	}

	#circ_projet1
	{
		display: none;
	}


	/*..........Carte et formulaire........*/

	iframe
	{
		height: 700px;
	}

	#fond_blue
    {
	height: 700px;
    }


	input
	{
		width: 500px;
		height: 35px;
		font-size: 0.8em;
	} 

	textarea
	{
		width: 498px;
		height: 200px;
		font-size: 0.8em;
	}

	.send_message
	{
		width: 180px;
		padding: 2px;
	}

	#formulaire
	{
		right: 120px;
		top: 750px;
	}
}

          /*.......ECRAN MOBILE......*/

@media all and (max-width: 426px)
{
    h1
	{
		font-size: 2.3em;
	}

	h2
	{
		font-size: 1.5em;
	}

	p
	{
		font-size: 1em;
	}

	.nos_services ~p
	{
		font-size: 1em;
	}

	nav li
	{
		font-size: 1.3em;
	}

	.liste_span
	{
		font-size: 1em;
	}

         /*..........header...........*/
	#en_tete
	{
		display: flex;
		width: 100%;
		justify-content: space-between;
		position: absolute;
		top: 70px;
	}

	#logo img
    {
	margin-left: -60px;
    }

	header nav ul 
	{
		flex-direction: column;
	}

	header nav
	{
		text-align: left;
	}

	#timeline
    { 
	display: none;
    }

	    /*......section: banniére......*/

	header
	{
		background: none;
		height: 440px;
		width: 100%
	}

	#texte_banniere 
    {
	margin: 300px 0px 0px 80px;
    }
	.white
	{
		color: rgb(144,147,150);
	}

	 #infos
	{
		width: 200px;
	}

	#infos .white
	{
		color: #fff;
	}

	#circle
	{
		display: none;
	}

	#circle1
	{
		display: none;
	}

	.fleche_left
	{
		display: none;
	}

	.fleche_right
	{
		display: none;
	}
    

        /*.......nos service........*/

    #nos_services
    {
        margin-top: 130px;
    }

	#pc_liste_section1
	{
		display: flex;
		flex-direction: column;
	}

	#image_pc
	{
		margin-left: 8%;
	}

	.liste_section1
	{
		padding-right: px;
		margin-left: px;
	}


	/*.......Nos projets..........*/
	#section2
	{
		justify-content: center;
	}

	#h_p2
    {
    	;
    }

    .nav_nos_projets
    {
    	
    }

	#projets_portfolio
	{
		justify-content: space-around;
	}

	.portfolio
	{
		margin-left: 0px;
	}

	.portfolio img
	{
	  width: 380px;
	}

	.figcap
	{
		display: block;
		position: absolute;
		bottom: 0;
		color: white;
		left:0; right: 0;
		padding-left: 20px;
		background-color: rgba(0,0,0,.5);
		height: 33%;
		font-size: 1em;
		
	}

	.portfolio img:hover ~ .figcap, .figcap:hover 
	{
		display: none;
	}

	.circ_projet2
	{
		
		bottom: 90px;
		right: 10px;
	}

	#circ_projet1
	{
		display: none;
	}


	/*..........Carte et formulaire........*/

	iframe
	{
		height: 700px;
	}

	#fond_blue
    {
	height: 700px;
    }


	input
	{
		width: 500px;
		height: 35px;
		font-size: 0.8em;
	} 

	textarea
	{
		width: 498px;
		height: 200px;
		font-size: 0.8em;
	}

	.send_message
	{
		width: 180px;
		padding: 2px;
	}

	#formulaire
	{
		right: 20px;
		top: 30px;
	}
}